# conjur policy load -b data -f secrets-and-permissions.yaml
# conjur variable set -i data/${PROJECT_PREFIX}/secrets/${PROJECT_PREFIX}-app/api-key -v "sk-1234567890abcdef"
- !policy
  id: ${PROJECT_PREFIX}/secrets
  body:
  - !policy
    id: ${PROJECT_PREFIX}-app
    body:
    - !variable
      id: api-key

    - !permit
      role: !host /data/swa/trust-domains/${SWA_TRUST_DOMAIN}/workloads/${SPIFFE_ID}
      privilege: [ read, execute ]
      resource: !variable api-key